.fixed {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
}

.cursor-pointer {
  cursor: pointer
}

.border-primary {
	border-color: var(--v-primary-base) !important;
}

.border-2 {
	border: 2px solid;
}

.bottom-nav {
  position: fixed;
  max-width: 500px;
	width: 100%;
  height: 64px;
	bottom: 0;
	background-color: white;
}